/* Deze code wordt gebruikt voor mijn MKB-Project. Het is gelinkt aan mkbprojecthome.html
!important = De code MOET hoe dan ook zichzelf laten zien in de code. */

body {
	font-family: "Open Sans", sans-serif; /* lettertype */
	background: #fff; /*achtergrond kleur body*/
}

.header /* navigation bar */{
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.9) !important; 
	/*De header achtergrond wordt niet herhaald wanneer je scrollt. 
	RGBA = Verschillende kleurwaarden, Het geeft een combinatie terug van opgegeven kleuren.*/
	z-index: 1000;
	transition: 220s;
}

.header ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.header li {
    float: left;
}

.header li .head {
	color: #fff !important;
	background: #001f3f;
}

.header li a {
	display: block;
    text-decoration: none;
    padding: 16px;
    color: #001f3f;
    width: 80px;
    text-align: center;

}

.header li a:hover /* select elements when you mouse over them. */ {
	background: #001f3f;
	color: #fff;
	transition: 0.5s;

}
.containerblue {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #001f3f;;
	color: white;
	text-align: center;
	width: 40%;
}

.polaroid-images a
{
    background: white;
    display: inline;
    float: left;
    margin: 0 15px 30px;
    padding: 10px 10px 25px;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
    box-shadow: 0 4px 6px rgba(0,0,0,.3);
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    transition: all .15s linear;
    z-index:0;
        position:relative;
}
.polaroid-images a:after {
    color: #333;
    font-size: 20px;
    content: attr(title);
    position: relative;
    top:15px;
}
.polaroid-images img { 
    display: block; 
    width: inherit; 
}

.polaroid-images a:hover{
    -webkit-transform: rotate(0deg); 
    -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
        transform: scale(1.2);
    z-index:10;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
    -moz-box-shadow: 0 10px 20px rgba(0,0,0,.7);
        box-shadow: 0 10px 20px rgba(0,0,0,.7);
}

/* Class worden weergeven met: .class 
ID's worden weergeven met: # */